th, td { text-align: left; padding-left: 0; padding-right: 50px; }

code { padding: 10px; }

.top-40 { margin-top: 40px; }
.green  { color: #006600; font-weight: bold; }
.red    { color: #A00000; font-weight: bold; }